@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

.logo {
  margin-top: 50px;
  cursor: pointer;
}

.container {
  height: 100vh;
  padding-left: 50px;
  overflow: hidden;
}

.home-main-section {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-wrapper {
  margin-top: 28rem;
}

.image-wrap {
  flex-direction: row;
  justify-content: flex-end;
}

.title {
  font-size: 14px;
  color: #9a9fbf;
  padding-bottom: 3px;
  letter-spacing: -0.025rem;
  font-weight: 500;
}

.middle-title {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -0.1rem;
  padding-bottom: 8px;
  width: 690px;
  word-spacing: -0.3rem;
}

.end {
  font-size: 18px;
  letter-spacing: -0.025rem;
  font-weight: 400;
  padding-bottom: 12px;
  width: 667px;
}

.title-launch {
  font-size: 14px;
  font-weight: 500;
  color: #9a9fbf;
  padding-bottom: 8px;
  letter-spacing: -0.025rem;
}

.form-box {
  border-radius: 0.5rem;
}

.form-box input {
  font-size: 18px;
  color: #000;
  padding: 1rem 1.5rem;
 border-width: 1px;
  border-color: rgba(154, 159, 191, 0.2);
  outline: none;
  width: 500px;
  margin-right: 12px;
  /* background-color: rgba(245, 245, 249); */
  border-radius: 6px;
  font-family: inherit;
  letter-spacing: -0.025rem;
}


.form-box button {
  color: #ffffff;
  padding: 1rem 1rem;
  font-size: 18px;
  border: none;
  border-radius: 0.5rem;
  background: rgba(1, 132, 251, 1);
  cursor: pointer;
  font-family: inherit;
  letter-spacing: -0.025rem;
  
}

::-webkit-input-placeholder {
  color: #9a9fbf;
}

.form-box button:hover {
  background-color: #000;
  color: #ececec;
  cursor: pointer;
}

.image-wrap {
  display: flex;
}

.img {
  /* height: auto; */
}







/* Media Queries 
/*Big tablets to 1200px (widths smaller than the 1440px row) */
@media only screen and (min-device-width: 779px) and (max-device-width: 1119px) and (-webkit-min-device-pixel-ratio: 2){
  .container {
    height: 100vh;
    padding-left: 20px;
    overflow: hidden;
  }

  .logo {
    margin-top: 20px;
    cursor: pointer;
    width: 10vw;
    max-width: 100%;
  }

  .home-main-section {
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .text-wrapper {
    margin-top: 1rem;
    margin-bottom: 42rem;
    padding: 10px;
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: justify;
  }

  .img {
    max-width: 100%;
    width: 45vw;
    transform: rotate(-30deg);
    margin-bottom: -12rem;
  }

  .image-wrap {
    flex-direction: row;
    justify-content: flex-end;
  }

  .header-wrapper {
    padding-bottom: 2.5rem;
  }

  .middle-title {
    font-size: 36px;
    font-weight: 500;
    max-width: 25rem;
    letter-spacing: -0.03em;
  }

  .title {
    font-size: 14px;
    color: #9a9fbf;
    letter-spacing: -0.025rem;
    font-weight: 500;
    max-width: 25rem;
  }

  .end {
    font-size: 18px;
    letter-spacing: -0.03em;
    font-weight: 400;
    padding-bottom: 12px;
    max-width: 25rem;
  }

  .title-launch {
    font-size: 14px;
    font-weight: 500;
    color: #9a9fbf;
    padding-bottom: 8px;
    letter-spacing: -0.025rem;
  }

  .form-box input {
    width: 25rem;
  }

  .form-box button {
    margin-top: 0.5rem;
  }
}

/* Small phones to small tablets: from 481px to 767px*/
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    height: 100vh;
    padding-left: 20px;
    overflow: hidden;
  }

  .logo {
    margin-top: 20px;
    cursor: pointer;
    width: 15vw;
    max-width: 100%;
  }

  .home-main-section {
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .text-wrapper {
    margin-top: 1rem;
    margin-bottom: 21rem;
    padding: 10px;
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: justify;
  }

  .img {
    max-width: 100%;
    width: 55vw;
    transform: rotate(-30deg);
    margin-bottom: -9rem;
  }

  .image-wrap {
    flex-direction: row;
    justify-content: flex-end;
  }

  .header-wrapper {
    padding-bottom: 2.5rem;
  }

  .middle-title {
    font-size: 36px;
    font-weight: 500;
    max-width: 25rem;
    letter-spacing: -0.03em;
  }

  .title {
    font-size: 14px;
    color: #9a9fbf;
    letter-spacing: -0.025rem;
    font-weight: 500;
    max-width: 25rem;
  }

  .end {
    font-size: 18px;
    letter-spacing: -0.03em;
    font-weight: 400;
    padding-bottom: 12px;
    max-width: 25rem;
  }

  .title-launch {
    font-size: 14px;
    font-weight: 500;
    color: #9a9fbf;
    padding-bottom: 8px;
    letter-spacing: -0.025rem;
  }

  .form-box input {
    width: 25rem;
  }

  .form-box button {
    margin-top: 0.5rem;
  }
}


/*Small phones from 320px to 480px*/
@media only screen and (min-device-width: 321px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    height: 100vh;
    padding-left: 20px;
    overflow: hidden;
  }

  .logo {
    margin-top: 20px;
    cursor: pointer;
    width: 40vw;
    max-width: 100%;
  }

  .home-main-section {
    /* height: 50vh; */
    justify-content: space-between;
  }

  .text-wrapper {
    margin-top: 10rem;
    padding: 0 10px ;
    text-align: justify;
    z-index: 1;
  }

  .img {
    max-width: 100%;
    width: 351.41px;
    height: 492.38px;
    /* display: inline-block; */
    z-index: -1;
    overflow: hidden;
  }
  
  .image-wrap {
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(0deg, rgb(255, 255, 255) 55%, rgba(255, 255, 255, 0.356) 100%) ;
    position: absolute;
    /* top: 16vh; */
    padding-top: 2rem;
    /* z-index: -1; */
  }

  .middle-title {
    font-size: 36px;
    font-weight: 500;
    max-width: 50vw;
    letter-spacing: -0.01rem;
    text-align: justify;
  }

  .title {
    font-size: 14px;
    color: #9a9fbf;
    letter-spacing: -0.025rem;
    font-weight: 500;
    max-width: 60vw;
  }

  .end {
    font-size: 18px;
    letter-spacing: -0.03em;
    font-weight: 400;
    padding-bottom: 12px;
    max-width: 85vw;
  }

  .title-launch {
    font-size: 14px;
    font-weight: 500;
    color: #9a9fbf;
    padding-bottom: 8px;
    letter-spacing: -0.025rem;
  }

  .form-box input {
    width: 85vw;
  }

  .form-box button {
    margin-top: .5rem;
   float: right;
    margin-right: 1.2rem;
  }
}
/*Smallest phones from 280px to 419px*/
@media only screen and (min-device-width: 280px) and (max-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    height: 100vh;
    padding-left: 5px;
    overflow: hidden;
  }

  .logo {
    margin-top: 20px;
    cursor: pointer;
    width: 40vw;
    max-width: 100%;
  }

  .home-main-section {
    height: 80vh;
    /* margin-top: .5rem;  */
    display: flex;
    margin-bottom: 20rem;
  }

  .text-wrapper {
    margin-top: 20vh;
    padding: 0 10px ;
    text-align: justify;
    z-index: 1;
    
  }

  .img {
    max-width: 100%;
    width: 351.41px;
    height: 492.38px;
    /* display: inline-block; */
    z-index: -1;
    overflow: hidden;
  }
  
  .image-wrap {
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(0deg, rgb(255, 255, 255) 48%, rgba(255, 255, 255, 0.507) 100%) ;
    position: absolute;
    /* top: 16vh; */
    padding-top: 2rem;
    /* z-index: -1; */
  }

  .header-wrapper {
    /* padding-bottom: 2.5rem; */
  }

  .middle-title {
    font-size: 36px;
    font-weight: bold;
    max-width: 60vw;
    letter-spacing: -0.03em;

  }

  .title {
    font-size: 14px;
    color: #9a9fbf;
    letter-spacing: -0.025rem;
    font-weight: 500;
    max-width: 85vw;
    text-align: justify;
  }

  .end {
    font-size: 18px;
    letter-spacing: -0.03em;
    font-weight: normal;
    padding-bottom: 12px;
    max-width: 85vw;
  }

  .title-launch {
    font-size: 14px;
    font-weight: 500;
    color: #9a9fbf;
    padding-bottom: 8px;
    letter-spacing: -0.025rem;
  }

  .form-box input {
    width: 85vw;
    font-size: 13px;
  }

  .form-box button {
    margin-top: .5rem;
   float: right;
    margin-right: 1.2rem;
  }
  
}